/* Custom font imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'PowerGrotesk';
  src: url('/fonts/PowerGrotesk-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.secondary-font {
  font-family: 'PowerGrotesk', sans-serif;
}

p {
  color: #4c545a;
}

.content-box p {
  margin-bottom: 20px;
}

.green-gradient-text {
  background: linear-gradient(180deg, #81fe7c 0%, #1ed760 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-hover:hover {
  text-decoration: underline;
}

/* Subscribe section */
.subscribe-input {
  border: 1px solid;
  border-image: linear-gradient(
      to right,
      #ff5656,
      #61aaff,
      #ff6b00,
      #7c4fff,
      #00ff94
    )
    1;
  border-image-slice: 1;
}

/* hidden footer */

@media (max-width: 767px) {
  .hidden {
    display: none;
  }
  .input {
    display: flex;
    width: 382px;
    height: 40px;
    padding: 11px 242px 12px 16px;
    align-items: center;
    flex-shrink: 0;
  }
}

.border {
  border-bottom: 1px solid #898889;
  border-style: dashed;
}

/* hidden podcast content in wide range */

@media (min-width: 767px) {
  .Hidden {
    display: none;
  }

  .subscribe-input {
    width: 50%;
  }
}

/* page crypto startup  */

.titleai {
  color: #4c545a;
  font-family: Power Grotesk Trial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  text-transform: capitalize;
}

.crypto {
  color: #888;
  text-align: justify;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.containerabout {
  height: 200px;
  color: black;
}
.line {
  border-top: 1px dashed #888;
  margin: 20px 0;
}
.cardContainer {
  width: 260px;
}
